.custom-nav {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* body {
  background-image: url(/assests/images/IMG_1977.png);
  background-size: cover;
} */
header {
  position: relative;
}
h2 {
  color: #fff;
}
li {
  list-style: none;
}
img {
  background-color: #feb908e6;
}
#message-box {
  position: fixed;
  z-index: 10;
  right: 0;
}

.options {
  text-align: right;
  margin-right: 0;
  width: fit-content;
  text-align: right;
  /* background-color: darkgray; */
}

.option {
  background-color: rgb(236, 231, 231);
  list-style: none;
  text-align: right;
  padding: 0.25em 2em;
  border: 1px dashed rgb(90, 137, 212);
  cursor: pointer;
}
.option:hover {
  background-color: rgb(28, 16, 131);
  color: #fff;
}
main {
  margin: 0 auto !important;
}
.aside-header {
  margin-top: 0;
  margin-top: 1em;
}
#current_data {
  margin-top: 1em;
  background-color: rgb(65, 65, 98);
  color: #fff;
  padding: 1em 0 1em 2em;
  box-shadow: 7px 8px 9px #797777;
}
#future_data {
  margin-top: 1em;
  height: 50%;
}
#future_data h3 {
  padding-left: 1em;
  margin-bottom: 0;
}
.card {
  padding: 1em;
  background-color: #130267;
  color: #fff;
  margin-right: 1em;
  margin-top: 1em;
  box-shadow: 7px 8px 9px #797777;
}

#prev-locations {
  padding-left: 0;
}
#prev-locations li {
  padding: 0.5em;
  font-size: small;
  margin: 0.25em 0;
  color: rgb(45, 44, 53);
  background-color: rgb(255, 255, 255);
}
#prev-locations li:active {
  background-color: #130267;
  color: #fff;
}
